.container{
    width: 60%;
}

.card-profile{
    width: 100px;
    height: 100px;

}
.d-flex{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
:root{
    --maincolor:blue;
    --bgColor:#fff;
    --bdColor:gray;
    --btnHover:none;
}

.bg-info{
    margin-left: 35%;
    margin-bottom: 10%;
    background:var(--bgColor);
}
.box-shadow{
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}